<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index.html :: head">
    <title>EDIT song</title>
</head>
<body>
<div th:replace="index.html :: header">
</div>
<div class="container-fluid col-md-6">
    <form th:action="@{/home/edit/{id}(id=${id})}" th:object="${song}" method="post" enctype="multipart/form-data">
        <div class="mb-3">Name:
            <input type="text" th:field="*{name}" th:value="${song.name}" class="form-control form-control-lg">
        </div>
        <div>
            <label>
                <input type="file" th:field="*{file}" >
            </label>File:
            <label>Category:
                <select th:field="*{category}">
                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.category}"></option>
                </select>
            </label>
        </div>
        <br>
        <div>
            <label>
                <button type="submit" class="btn btn-primary">Save</button>
            </label>
            <label>
                <button type="button" class="btn btn-warning"><a th:href="@{/home}" style="text-decoration: none">Back</a></button>
            </label>
        </div>
    </form>
</div>
</body>
</html>