<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category</th>
        <th colspan="3">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p: ${products}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.description}"></td>
        <td th:text="${p.category}"></td>
        <td><a th:href="@{/products/{id}/delete(id=${p.id})}" th:text="Delete"></a></td>
        <td><a th:href="@{/products/{id}/edit(id=${p.id})}" th:text="Edit"></a></td>
        <td><a th:href="@{/products/{id}/view(id=${p.id})}" th:text="View"></a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/products/create}">Create a new Product</a>
</body>
</html>